<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="logs/${shortdate}" />
  <variable name="logRootDirectory" value="logs" />

  <!-- the targets to write to -->
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
    <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
    <target name="fileLogHoneyPotInfo" xsi:type="File" fileName="${logDirectory}/visitors-log.txt" />
    <target name="fileLogNonHoneyPotInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
    <target name="fileLogWarn" xsi:type="File" fileName="${logDirectory}/warn.txt" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="System.*" finalMinLevel="Warn" writeTo="fileLogWarn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="fileLogWarn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="fileLogNonHoneyPotInfo" />
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" cwriteTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogHoneyPotInfo" />
    <logger name="*" level="Warn" writeTo="fileLogWarn" />
  </rules>
</nlog>